mat-toolbar {
  position: sticky;
  z-index: 1;
}

mat-icon {
  color: #3a2d30;
}

.navigation-container {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
}

.navigation-item {
  font-size: larger;
}
.notification-badge {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 8px;
  height: 8px;

  background-color: rgb(221, 48, 48);
  border-radius: 50%;
}

span {
  font-family: 'Fira Sans Condensed', serif;
}
